.header {
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(#000, 0.5);
    z-index: 10;

    .header_logo {
        color: #fff;
        font: {
            size: 20px;
            weight: bold;
        }
        line-height: 50px;
    }
}